<%= decidim_form_for(@form, url: jitsi_meeting_path, method: :post, html: { class: "form edit_jitsi_meeting" }) do |form| %>
  <%= render partial: "form", object: form, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".save") %>
  </div>
<% end %>